<% provide(:title, 'Home') %>

<div class="Home">
    <h1>Welcome To Select Baseball Tryouts</h1>
        <p>
            Create an account to post your tryout information.
        </p>
    <%= link_to "Sign up now!", signup_path, class: "" %>
         <p>
             Search for tryouts in your area.
         </p>
        <%= link_to "Search tryouts now!", "#", class: "" %>
</div>


