<footer class="footer">
  <small>&copy; 2013 &nbsp;<a href="http:#">Select Baseball Tryouts</a>
    &nbsp;Powered By&nbsp;
    <a href="http://www.themtngroup.com/"> The MTN Group</a>
  </small>
  <nav>
  <!--  <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul> -->
  </nav>
</footer>